<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="pluginContent" name="%expoint.pluginContent.name" schema="schema/pluginContent.exsd"/>
   <extension-point id="newStructure" name="%struct.newStructure.name" schema="schema/newStructure.exsd"/>
   <extension-point id="templates" name="%struct.templates.name" schema="schema/templates.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.hyperic.hypclipse.internal.editor.HQDEPluginEditor"
            default="true"
            filenames="hq-plugin.xml"
            icon="icons/hq16.gif"
            id="org.hyperic.hypclipse.internal.editor.HQDEPluginEditor"
            name="HQ Plugin Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.hyperic.hypclipse.HQDE"
            class="org.hyperic.hypclipse.internal.wizards.project.NewPluginProjectWizard"
            icon="icons/hq16.gif"
            id="org.eclipse.hypclipse.internal.wizards.project.NewProjectWizard"
            name="%new.pluginProject.name"
            project="true">
         <description>
            %new.pluginProject.description
         </description>
      </wizard>
      <category
            id="org.hyperic.hypclipse.HQDE"
            name="%new.category.name">
      </category>
   </extension>
   <extension
         point="org.hyperic.hypclipse.pluginContent">
      <wizard
            class="org.hyperic.hypclipse.internal.templates.ai.AutoInventoryNewWizard"
            default="false"
            id="org.eclipse.hypclipse.pluginContent.simpleServer"
            name="%pluginContent.simpleServer.name">
         <description>
            %pluginContent.simpleServer.description
         </description>
      </wizard>
      <wizard
            class="org.hyperic.hypclipse.internal.templates.DefaultNewPluginTemplateWizard"
            default="true"
            id="org.eclipse.hypclipse.pluginContent.defaultWizard"
            name="%pluginContent.defaultWizard.name">
         <description>
            %pluginContent.defaultWizardr.description
         </description>
      </wizard>
      <wizard
            class="org.hyperic.hypclipse.internal.templates.ai.CustomAutoInventoryNewWizard"
            default="false"
            id="org.eclipse.hypclipse.pluginContent.customAutoDiscoverServer"
            name="%pluginContent.customAutoDiscoverServer.name">
         <description>
            %pluginContent.customAutoDiscoverServer.description
         </description>
      </wizard>
      <wizard
            class="org.hyperic.hypclipse.internal.templates.platserv.CustomPlatformServiceNewWizard"
            default="false"
            id="org.eclipse.hypclipse.pluginContent.customPlatformService"
            name="%pluginContent.customPlatformService.name">
         <description>
            %pluginContent.customPlatformService.description
         </description>
      </wizard>
      <wizard
            class="org.hyperic.hypclipse.internal.templates.server.WinPerfCountNewWizard"
            default="false"
            id="org.eclipse.hypclipse.pluginContent.winPerfCount"
            name="%pluginContent.winPerfCount.name">
         <description>
            %pluginContent.winPerfCount.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.hyperic.hypclipse.internal.preferences.MainPreferencePage"
            id="org.hyperic.hypclipse.MainPreferencePage"
            name="%preferences.main.name">
      </page>
      <page
            category="org.hyperic.hypclipse.MainPreferencePage"
            class="org.hyperic.hypclipse.internal.preferences.HQEnvsPreferencePage"
            id="org.hyperic.hypclipse.HQEnvsPreferencePage"
            name="%preferences.envs.name">
      </page>
      <page
            category="org.hyperic.hypclipse.MainPreferencePage"
            class="org.hyperic.hypclipse.internal.preferences.EditorPreferencePage"
            id="org.hyperic.hypclipse.EditorPreferencePage"
            name="%preferences.editors.name">
      </page>
   </extension>
   <extension
         id="org.hyperic.hypclipse.PluginNature"
         name="%natures.pluginNature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.hyperic.hypclipse.internal.natures.PluginProject">
         </run>
      </runtime>
   </extension>
   <extension 
         id="org.hyperic.hypclipse.PluginBuilder"
         name="%builders.pluginBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.hyperic.hypclipse.internal.builders.BuildChecker">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/contexts_HQDE.xml">
      </contexts>
   </extension>
   <extension
         point="org.hyperic.hypclipse.newStructure">
      <wizard
            category="templates"
            id="org.eclipse.hypclipse.newStructure.hello"
            name="%newStructure.templates.simpleServer.name"
            template="org.eclipse.hypclipse.templates.simpleServer">
         <description>
            %newStructure.templates.simpleServer.desc
         </description>
      </wizard>
      <wizard
            category="templates"
            id="org.eclipse.hypclipse.newStructure.basicProcessMetrics"
            name="%newStructure.templates.basicProcessMetrics.name"
            template="org.eclipse.hypclipse.templates.basicProcessMetrics">
         <description>
            %newStructure.templates.basicProcessMetrics.desc
         </description>
      </wizard>
      <wizard
            category="templates"
            id="org.eclipse.hypclipse.newStructure.winPerfCount"
            name="%newStructure.templates.winPerfCount.name"
            template="org.eclipse.hypclipse.templates.winPerfCount">
         <description>
            %newStructure.templates.winPerfCount.desc
         </description>
      </wizard>
      <wizard
            category="templates"
            id="org.eclipse.hypclipse.newStructure.multiProcessMetrics"
            name="%newStructure.templates.multiProcessMetrics.name"
            template="org.eclipse.hypclipse.templates.multiProcessMetrics">
         <description>
            %newStructure.templates.multiProcessMetrics.desc
         </description>
      </wizard>
   </extension>
   <extension
         point="org.hyperic.hypclipse.templates">
      <template
            class="org.hyperic.hypclipse.internal.templates.ai.AutoInventoryTemplate"
            contributingId="server"
            id="org.eclipse.hypclipse.templates.simpleServer"
            name="%template.simpleServer.name">
      </template>
      <template
            class="hypclipse.TemplateSection2"
            contributingId="hypclipse.template2"
            id="hypclipse.template2"
            name="%template.logTrack.name">
      </template>
      <template
            class="hypclipse.TemplateSection3"
            contributingId="hypclipse.template3"
            id="hypclipse.template3"
            name="%template.configTrack.name">
      </template>
      <template
            class="org.hyperic.hypclipse.internal.templates.met.BasicProcessMetricsTemplate"
            contributingId="metrics"
            id="org.eclipse.hypclipse.templates.basicProcessMetrics"
            name="%template.basicProcessMetrics.name">
      </template>
      <template
            class="org.hyperic.hypclipse.internal.templates.server.WinPerfCountTemplate"
            contributingId="server"
            id="org.eclipse.hypclipse.templates.winPerfCount"
            name="%template.winPerfCount.name">
      </template>
      <template
            class="org.hyperic.hypclipse.internal.templates.met.MultiProcessMetricsTemplate"
            contributingId="metrics"
            id="org.eclipse.hypclipse.templates.multiProcessMetrics"
            name="%template.multiProcessMetrics.name">
      </template>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.hyperic.hypclipse.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="problem"
         name="%builders.marker.label"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="id">
      </attribute>
      <attribute
            name="PDECategoryId">
      </attribute>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerGroupingEntry
            id="org.hyperic.hypclipse.jdt_category.hqde"
            label="%markerGroupingEntry.label"
            markerGrouping="org.eclipse.jdt.ui.java_marker_category"
            priority="85">
      </markerGroupingEntry>
      <markerAttributeGrouping
            defaultGroupingEntry="org.hyperic.hypclipse.jdt_category.hqde"
            markerType="org.hyperic.hypclipse.problem">
      </markerAttributeGrouping>
      <markerAttributeGrouping
            attribute="categoryId"
            markerType="org.hyperic.hypclipse.problem">
         <markerAttributeMapping
               markerGroupingEntry="org.hyperic.hypclipse.category.fatal"
               value="fatal">
         </markerAttributeMapping>
         <markerAttributeMapping
               markerGroupingEntry="org.hyperic.hypclipse.category.ee"
               value="ee">
         </markerAttributeMapping>
         <markerAttributeMapping
               markerGroupingEntry="org.hyperic.hypclipse.category.deprecation"
               value="deprecation">
         </markerAttributeMapping>
         <markerAttributeMapping
               markerGroupingEntry="org.hyperic.hypclipse.category.nls"
               value="nls">
         </markerAttributeMapping>
      </markerAttributeGrouping>
      <markerGroupingEntry
            id="org.hyperic.hypclipse.category.ee"
            label="%marker.category.ee"
            markerGrouping="org.hyperic.hypclipse.marker.grouping"
            priority="90">
      </markerGroupingEntry>
      <markerGroupingEntry
            id="org.hyperic.hypclipse.category.fatal"
            label="%marker.category.fatal"
            markerGrouping="org.hyperic.hypclipse.marker.grouping"
            priority="100">
      </markerGroupingEntry>
      <markerGroupingEntry
            id="org.hyperic.hypclipse.category.deprecation"
            label="%marker.category.deprecation"
            markerGrouping="org.hyperic.hypclipse.marker.grouping"
            priority="80">
      </markerGroupingEntry>
      <markerGroupingEntry
            id="org.hyperic.hypclipse.category.nls"
            label="%marker.category.nls"
            markerGrouping="org.hyperic.hypclipse.marker.grouping"
            priority="70">
      </markerGroupingEntry>
      <markerGrouping
            id="org.hyperic.hypclipse.marker.grouping"
            label="%marker.grouping.type">
      </markerGrouping>
      <markerTypeCategory
            name="%marker.category">
         <markerTypeReference
               id="org.hyperic.hypclipse.problem">
         </markerTypeReference>
      </markerTypeCategory>
   </extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="ant/hqde-ant.jar">
      </extraClasspathEntry>
   </extension>

</plugin>
